[user]
	name = xVanTuring
	email = xVanTuring@foxmail.com
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = master
